:root {
  /* Acento tipo iOS, pero solo para botones y detalles */
  --primary: #007aff;
  --secondary: #111827;
  --accent: #6366f1;

  /* Colores de texto y fondo muy neutros */
  --text-main: #0b1120;
  --text-secondary: #4b5563;

  --background: #ffffff;
  --background-soft: #f5f5f7; /* gris muy claro estilo Apple */

  --radius: 16px;
  --shadow-soft: 0 8px 30px rgba(15, 23, 42, 0.06);
  --shadow-strong: 0 18px 60px rgba(15, 23, 42, 0.12);
}
