:root {
  --primary: #39C4E8;
  --secondary: #1463A7;
  --accent: #5B2D90;

  --text-main: #0E1A2B;
  --text-secondary: #2F3A4A;

  --background: #FFFFFF;
  --background-soft: #F4F7FA;

  --radius: 16px;
  --shadow-soft: 0 4px 20px rgba(0,0,0,0.04);
  --shadow-strong: 0 8px 32px rgba(0,0,0,0.12);
}
