.sidebar {
  width: 250px;
  background: white;
  box-shadow: var(--shadow-soft);
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 70px;
  left: 0;
  border-radius: 0 var(--radius) var(--radius) 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 10px;
  color: var(--text-secondary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.2s ease;
}

.sidebar-item:hover {
  background: var(--background-soft);
  color: var(--text-main);
}
